footer
  .container.text-center
    p.pull-left © Copyright - jaken | jakeki / FutiSta 2016
    ul.pull-right.list-inline
      li
        a(href='https://github.com/sahat/hackathon-starter') GitHub Project
      li
        a(href='https://github.com/sahat/hackathon-starter/issues') Issues
