extends layout

block content

  .div.jumbotron
    h1 Futi
      span.tracker Sta
      h2 Easy and fast football statistics for everyone.
      h3 FutiSta offers realtime statistics collection for football games.You can have several people collecting statistics and your teams statistics are always up-to-date.
  hr


  .row
    .col-sm-6
      h2 Ottelutilastoihin parannuksia
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 FutiSta siirtyy uuteen teknologiaan
      p Tämä näkyvä versio käyttää node.js, mongodb, express jne uusia tekniikoita. Lisäksi siirrymme pilvipalveluun.
      p .
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
