extends layout

block content

  .div.jumbotron
    h1 Futi
      span.tracker Sta
      h2 Helppo ja nopea jalkapallotilastointi
      h3 FutiSta tarjoaa reaaliaikaisen jalkapallo-ottelun tilastoinnin. Tapahtumia voi olla syöttämässä useampi henkilö ja tilastot ovat aina ajantasalla.
  hr


  .row
    .col-sm-6
      h2 Ottelutilastoihin parannuksia
      p Ottelutilastoissa on nyt lisätty aikajana josta voit nopeasti katsoa tapahtumia. Siirtämällä hiiren tai Ipadissa klikkaamalla näet tarkempaa tietoa tapahtumasta.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 FutiSta siirtyy uuteen teknologiaan
      p Tämä näkyvä versio käyttää node.js, mongodb, express jne uusia tekniikoita. Lisäksi siirrymme pivipalveluun.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
